      <div >
       sdkfgklsd
          asdfh;a
          a;ggfk;aa'gpkak
          asjfjafljh
          akhvfjash
          
          <table  ng-repeat="d in day" border="1"  style="float:left;"  > 
    
        <tbody>
            <tr>
            <td>DAY</td></tr>
             <tr> <td>Avail</td>
        </tr>
          <tr>
            <td>gggggggggggggggg{{d.code}}</td></tr>
             <tr> <td>{{d.runs}}</td>
        </tr>
    </tbody> 
        
    </table>
          
    <table  border="1" > 
        <tbody >
        <tr ng-repeat="r in route">
            
            <td>{{r.fullname}}</td>
            <td>{{r.scharr}}</td>
            <td>{{r.schdep}}</td>
        </tbody>   
     </table>
    </div>  